<%- include header.ejs %>
	<div class="block block--narrow">
		<h2>About</h2>
		<p>This is an experimental app built with node.js, express.js, sockets.io, WebRTC, Web Audio Api, and tuna.js library </p>
		<h2>Code</h2>
		<p>GitHub</p>
		<h2>Contact</h2>
		<p>a.miselaytes@gmail.com</p>
		<p>amiselaytes.com</p>
	</div>
<%- include footer.ejs %>