<div class="row-fluid">
	<h2 id="audioEffects">Audio Effects</h2>
	<div class="btn-group btn-group-justified">
		<a role="button" class="btn btn-primary btn-option option-clear effects-hide active " >Clear sound</a>
		<a role="button" class="btn btn-primary btn-option option1 effects-hide" >Under water</a>
		<a role="button" class="btn btn-primary btn-option option2 effects-hide" >Space signal</a>
		<a role="button" class="btn btn-primary btn-option option3 effects-hide" >Broken radio</a>
		<a href="#audioEffects" role="button" class="btn btn-primary btn-option option-custom effects-show" >Custom</a>
	</div>
</div><!--row-->
<div class="row  effects-panel">
	<section class="block col-sm-4 mic">
		
		<h3>Microphone</h3>
		<div class="range">
			<label>volume: <input type="range" min="0" max="1" value="0.5" step="0.1" class="gain-value"></label>
		</div>
	</section><!--Mic and gain-->
	
	<section class="block col-sm-4 ">
		<h3>Delay</h3>
		<div class="checkbox">
			<label><input type="checkbox" value="" class="delay-switch" checked>on/off</label>
		</div>
		<div class="range">
			<label>delay time (0-5 sec): <input type="range" min="0" max="5" value="0" step="0.5"  class="delay-value"></label>
		</div>
	</section><!--Delay-->
	
	<section class="block col-sm-4 ">
		<h3>Chorus</h3>
		<div class="checkbox">
			<label><input type="checkbox" value="" class="tunachorus-switch" checked>on/off</label>
		</div>
		<div class="range">
			<label>Pitch: <input type="range"  name="delay" min="0" max="1" value="0.004"  step="0.1"  class="tunachorus-delay"></label>
		</div>
	</section><!--TunaChorus-->
	
	<section class="block col-sm-4  ">
		<h3>Wah Wah</h3>
		<div class="checkbox">
			<label><input type="checkbox" value="" class="tunawahwah-switch" checked>on/off</label>
		</div>
		<div class="range">
			<label>baseFrequency: <input type="range"  name="baseFrequency" min="0" max="1" value="0.5"  step="0.1"  class="tunawahwah-baseFrequency"></label>
		</div>
		<div class="range">
			<label>excursionOctaves: <input type="range"  name="excursionOctaves" min="1" max="6" value="2"  step="1"  class="tunawahwah-excursionOctaves"></label>
		</div>
		<div class="range">
			<label>sweep: <input type="range"  name="sweep" min="0" max="1" value="0.2"  step="0.1"  class="tunawahwah-sweep"></label>
		</div>
		<div class="range">
			<label>resonance: <input type="range"  name="resonance" min="10" max="100" value="10"  step="10"  class="tunawahwah-resonance"></label>
		</div>
		<div class="range">
			<label>sensitivity: <input type="range"  name="sensitivity" min="0" max="1" value="0.5"  step="0.1"  class="tunawahwah-sensitivity"></label>
		</div>
	</section><!--Tunawahwah-->
	
	<section class="block col-sm-4  ">
		<h3>Overdrive</h3>
		<div class="checkbox">
			<label><input type="checkbox" value="" class="tunaoverdrive-switch" checked>on/off</label>
		</div>
		<div class="range">
			<label>drive: <input type="range"  name="drive" min="0" max="1" value="0.7"  step="0.1"  class="tunaoverdrive-drive"></label>
		</div>
		<div class="range">
			<label>algorithmIndex (1-5): <input type="range"  name="algorithmIndex" min="0" max="5" value="5"  step="1"  class="tunaoverdrive-algorithmIndex"></label>
		</div>
	</section><!--Tunaoverdrive-->
	
	<section class="block col-sm-4 ">
		<h3>Tremolo</h3>
		<div class="checkbox">
			<label><input type="checkbox" value="" class="tunatremolo-switch" checked>on/off</label>
		</div>
	</section><!--Tunatremolo-->
</div><!--row-->