</section>
<footer class="site-footer ">
	<section class="container-fluid">
			<a href="#" class="about-popover"> about </a><span class="note pull-right">*Works in Google Chrome browser only </span>
	</section>
</footer>
<script src="/js/lib.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>

</body>
</html>