</section>
<%- include browserNotSupported.ejs %>
<footer class="site-footer ">
	<section class="container-fluid">
			<a role="button" class="about-popover"> about </a>
	</section>
</footer>
<script src="/js/lib.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>

</body>
</html>