<%
//load scripts if not homepage
if (typeof path !='undefined') {
%>
	<script src="js/lib/jquery-2.1.1.min.js"></script>
	<script src="js/lib/shared.js"></script>
	<script src="js/lib/tuna.js"></script>
	<script src="js/lib/adapter.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="js/main.js"></script>
<%
}
%>
</body>
</html>