<!DOCTYPE html>
<html>
<head>
	<meta name="keywords" content="WebRTC, Web Audio Api, JavaScript" />
	<meta name="description" content="Change your voice with special effects and invite your friends to talk" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
	<title>Noise Voice</title>
	<link rel="stylesheet" href="/css/style.css">	
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
</head>
<body>
<section class="container-fluid">
	<nav class="row">
		<ul class="nav pull-left">
			<li> <a href="/"><img src="../img/noisevoice.png" alt="NoiseVoice logo"></a></li>
		</ul>
	</nav>
