<%- include header.ejs %>
	<div class="app-intro">
		<p>Change your voice with special effects<br/> and invite your friends to talk.</p>
		
		<form action='/' method='post' class="form-inline">
			<input type="text" placeholder ="Enter a name for your talk room" class="roomName form-control input-lg" size="27" name="roomName"  required>
			<button class="btn btn-primary btn-lg">Start</button>
		</form>
	</div>
<%- include footer.ejs %>