<%- include header.ejs %>
	<div class="block block--narrow">
		<p class="lead-text">Change your voice with special effects<br/> and invite your friends to talk.</p>
		
		<form action='/' method='post' >
			<input type="text" placeholder ="Enter a name for your talk room" class="form-control input-lg input--roomName" size="27" name="roomName"  required >
			<button class="btn btn-primary btn-lg">Start</button>
		</form>
	</div>
<%- include footer.ejs %>