<%- include header.ejs %>
<body >
<section class="container">
<h1>Noise Voice</h1>
<form action='/' method='post' class="form-inline">
	<input type="text" placeholder ="Enter a room name" class="roomName form-control" name="roomName"  required></input>
	<button class="btn btn-primary">Create/Join</button>
</form>
<section>
<%- include footer.ejs %>